body {
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;
}

h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 450%;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
}


/* Part of Imgs*/

.bottom-cloud{
  position: absolute;
  bottom: 50%;
  left: 15%;
}

.top-cloud{
  position: absolute;
  right: 20%;
  top: 3%;
}

/* End part of Imgs*/

.top-container{
  margin: 0;
  background-color: #B6FFCE;
  position: relative;
  padding-top: 10%;

}

.middle-container{

}

.bottom-container{

}
