body {
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #1A3C40;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #1A3C40;
  font-weight: normal;
}
h3{
  color: #11999E;
}
a{
  color: #11999E;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: #1A3C40;
}


/* Part of Imgs*/

.bottom-cloud{
  position: absolute;
  bottom: 50%;
  left: 15%;
}

.top-cloud{
  position: absolute;
  right: 20%;
  top: 3%;
}

/* End part of Imgs*/

.top-container{
  margin: 0;
  background-color: #B6FFCE;
  position: relative;
  padding-top: 10%;

}

.middle-container{

}

.bottom-container{

}
